* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}


/*:root {
    --bg-color: ;
    --second-bg-color: ;
    --text-color: ;
    --main-color: ;



    --light-green: #B8C156;
    --dk-green: #4B5F2B;
    --bg-color: #D4DCC9;
    --dk-brown: #010200;
    --lt-brown: #533F33;
    --off-white: #D9D9DC;
}*/