/*:root {
    --bg-color: #f5f5dc;
    --second-bg-color: #b7a7a5;
    --text-color: #545454;
    --main-color: #ff6b6b;
    --dk-blue: #081B29;
}*/

:root {
    --off-white: #D9D9DC;
}

.consulting-about {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: white;
    padding-bottom: 6rem;
}

.consulting-about-content {
    text-align: justify;
}

.consulting-about-content p {
    position: relative;
    font-size: 1.6rem;
    margin: 0rem 0 3rem;
}

.consulting-services {
    display: flex;
    /* Use flexbox layout */
}

.consulting-about {
    min-height: 75vh;
}
