@import './base.css';
@import './services-split-text-image.css';
@import './interior-hero.css';
@import './buttons.css';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body {
  background: var(--bg-color);
  color: var(--text-color);
}

:root {
  --bg-color: #f5f5dc;
  --second-bg-color: #b7a7a5;
  --text-color: #545454;
  --main-color: #ff6b6b;
  --dk-blue: #081B29;
  --off-white: #D9D9DC;
}

/*:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}*/



section {
  padding: 100px 9% 0;
}

.home {
  display: flex;
  align-items: center;
  padding: 0 9%;
  min-height: 100vh;
  background-color: var(--dk-blue);
  background-size: cover;
  background-position: center;
}

.home-content {
  width: 100%;
  max-width: 60rem;
  z-index: 99;
  padding-top: .9rem;
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
  color: var(--off-white);
}

.home-content h3 {
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.3;
  color: var(--main-color);
}

.home-content h1 span {
  color: var(--text-color);
}

.home-content .text-animate {
  position: relative;
  width: 50rem;
}

.home-content .background-video {
  opacity: .15;
}

/*
Fucking nailed that 4/15/2024
Animations not currently implemented
.home-content .text-animate h3 {
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);
    background-image: linear-gradient(var(--main-color), var(--main-color));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -33rem 0;
}

.home.show-animate .home-content .text-animate h3 {
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;
}

.home-content .text-animate h3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid var(--main-color);
    z-index: -1;
}

.home.show-animate .home-content .text-animate h3::before {
    animation: homeCursorText 6s linear infinite;
    animation-delay: 2s;
}*/

.home-content p {
  font-size: 1.6rem;
  /* subtracting the margin on the buttons below */
  margin: 1.4rem 0 calc(4rem - .9rem);
  color: var(--off-white);
}

.btn-box {
  display: flex;
  flex-flow: wrap;
  /* justify-content: space-between;
  max-width: 48.5rem; */
  /* height: 5rem; */
  margin: 0 -.9rem;
}

.btn-box .btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 15rem;
  min-height: 5rem;
  margin: .9rem;
  background: var(--main-color);
  border: .2rem solid var(--main-color);
  border-radius: .8rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: .1rem;
  color: var(--bg-color);
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.btn-box .btn:nth-child(1) {
  box-shadow: 0 0 1rem var(--main-color);
}

/*This is selecting that first child button*/
.btn-box .btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--dk-blue);
  z-index: -1;
  transition: .5s;
}

/*Once the user hovers over these btns, then the psuedo element's width is changed to 100% and thus create the desired effect*/
.btn-box .btn:hover::before {
  width: 100%;
}

.btn-box .btn:hover {
  color: var(--main-color);
  scale: 1.02;
  box-shadow: none;
}

/*Here is what the 2 other buttons are 'initially' rendering as*/
.btn-box .btn:nth-child(2n+2),
.btn-box .btn:nth-child(2n+3) {
  background: transparent;
  color: var(--main-color);
}


.btn-box .btn:nth-child(2):hover,
.btn-box .btn:nth-child(3):hover {
  color: var(--bg-color);
  box-shadow: 0 0 1rem var(--main-color);
  scale: 1.02;
}

.btn-box .btn:nth-child(2)::before,
.btn-box .btn:nth-child(3)::before {
  background: var(--main-color);
}

.home-sci {
  position: absolute;
  bottom: 4rem;
  display: flex;
  justify-content: space-between;
}

.home-sci.social-links a {
  margin: 0 calc(1.35rem/2);
}

.home-imgHover {
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  height: 100%;
  background: transparent;
  transition: 3s;
}

.home-imgHover:hover {
  background: var(--bg-color);
  opacity: .8;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background: white;
}

.home-about-btn {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.heading {
  font-size: 5rem;
  margin-bottom: 2rem;
  text-align: center;
}

span {
  color: var(--main-color);
}

.about-img {
  position: relative;
  width: 35rem;
  height: 35rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img img {
  width: 90%;
  border-radius: 50%;
  border: .2rem solid var(--dk-blue);
}

.about-img .circle-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  width: 98%;
  height: 98%;
  border-radius: 50%;
  border-top: .2rem solid white;
  border-bottom: .2rem solid white;
  border-left: .2rem solid var(--dk-blue);
  border-right: .2rem solid var(--dk-blue);
  animation: aboutSpinner 8s linear infinite;
  animation-duration: 9s;
}

.about-content {
  text-align: center;
}

.about-content h3 {
  position: relative;
  display: inline-block;
  font-size: 3.6rem;
}

.about-content p {
  position: relative;
  font-size: 1.6rem;
  margin: 2rem 0 2rem;
}

.about-content p:nth-child(3) {
  position: relative;
  font-size: 1.6rem;
  margin: 2rem 0 4rem;
}

.svg-icon {
  width: 50px;
  /* Set width */
  height: 50px;
  /* Set height */
  fill: var(--main-color);
  /* Set fill color */
}

.coaching {
  background: white;
  min-height: auto;
  padding-bottom: 10rem;
}

.coaching h2 {
  margin-bottom: 0.5rem;
}

.coaching p {
  margin-bottom: 4rem;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
}

.coaching-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.coaching-container.is-touch .coaching-box .coaching-layer {
  transform: unset;
}

.coaching-container .coaching-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  border: var(--dk-blue) solid 1px;
}

.coaching-box img {
  width: 100%;
  transition: .5s ease;
}

.coaching-box:hover img {
  transform: scale(1.1);
}

.coaching-box .coaching-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: .5s ease;
}

.coaching-box:hover .coaching-layer {
  transform: translateY(0);
}

.coaching-layer h4 {
  font-size: 3rem;
  color: white;
}

.coaching-layer p {
  font-size: 1.6rem;
  margin: .3rem 0 1rem;
  color: white;
}


.btn-box.btns {
  display: inline-block;
  width: 15rem;
}

.btn-box.btns a::before {
  background: var(--second-bg-color);
}


.services {
  min-height: auto;
  background: white;
}

.services h2 {
  margin-bottom: 2rem;
}

.services-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* Align items to the start of the flex container */
  flex-wrap: wrap;
  gap: 2rem;
}

.services-intro {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 4rem;
}

.services-container .services-box-container {
    flex: 1 1 30rem;
}

.services-container .services-box {
 display: block;
  background: var(--dk-blue);
  padding: 3rem 2rem 3rem;
  border-radius: 2rem;
  text-align: center;
  border: .25rem solid var(--main-color);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  transition: .5s ease;
  cursor: pointer;
  /* Change cursor to pointer */
  margin-bottom: 2rem;
}

.services-container .services-box:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
  box-shadow: 0 0 1rem var(--main-color);
}

.svg-icon {
  width: 50px;
  /* Set width */
  height: 50px;
  /* Set height */
  fill: var(--main-color);
  /* Set fill color */
}

.services-box i {
  font-size: 7rem;
  color: var(--main-color);
}

.services-box h3 {
  font-size: 2.6rem;
  color: white;
}

.services-box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
  color: white;
}

/* ANIMATION RELOAD AND SCROLL */

/* BREAKPOINTS */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }

  .coaching-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 991px) {
  .header {
    padding: 2rem 4%;
  }

  section {
    padding: 60px 4% 0;
  }

  .home {
    padding: calc(4rem + 40px + 20px) 4%;

  }
}

@media (max-width: 850px) {
  .animate.home-img {
    width: 55%;
  }

  .services-lists {
    display: flex;
    margin-bottom: 2rem;
    gap: 1.5rem;
    flex-direction: column;
    padding: 0 1rem;
  }

  .services-box-container + .services-box-container {
    margin-top: 20px;
  }

  .services-list ul {
    text-align: justify;
  }
}

@media (max-width: 768px) {
  .home-imgHover {
    pointer-events: none;
    background: var(--bg-color);
    opacity: .6;
  }

  section:not(.home) {
    padding: 60px 4% 0;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 50%;
  }

  .coaching-container {
    grid-template-columns: 1fr;
  }

  .home-content h1 {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 462px) {
  .home-content h1 {
    font-size: 5.2rem;
  }

  .education {
    padding: 10rem 4% 5rem 5%;
  }

  .home-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .home-sci {
    justify-content: center;
    width: 100%;
    left: 0;
  }

  .btn-box {
    flex-direction: column;
  }
}

@media (max-width: 371px) {
  .home {
    justify-content: center;
  }

  .home-content h1 {
    font-size: 5rem;
  }
}


/* KEYFRAMES ANIMATION */

@keyframes aboutSpinner {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.has-background-video {
  position: relative;
  overflow: hidden;
}

.styled-list  {
  list-style: none;
  padding: 10px 15px 10px 10px;
}
.styled-list li {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  position: relative; 
  padding-left: 1.5em;  
}
.styled-list li::before {
  position: absolute;
  content:"";
  display: inline-block;
  left: 0;
  top: .55em;
  width: .4em;
  height: .4em;
  background-color: var(--main-color);
  border-radius: 100%;
}