/*:root {
    --bg-color: #f5f5dc;
    --second-bg-color: #b7a7a5;
    --text-color: #545454;
    --main-color: #ff6b6b;
    --dk-blue: #081B29;
}*/

:root {
    --off-white: #D9D9DC;
}

.coaching-about {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: white;
    padding-bottom: 6rem;
}

.wrapper1 img {
    display: none;
}

.wrapper {
    padding-top: 2rem;
}

.wrapper img {
    width: 100%;
    max-width: 550px;
    /* Adjust the width of the image as needed */
    height: auto;
    border-radius: 10px;
    border: .2rem solid white;
    margin-left: 2rem;
    /* Add margin to create space between text and image */
    float: right;
    /* Float the image to the right */
}

.text-box h3 {
    font-size: 2.6rem;
}

.text-box p {
    font-size: 1.6rem;
    margin: 0rem;
    /* Adjust margin as needed */
    margin-bottom: 3rem;
    text-align: justify;
    /* Add margin to bottom */
}

a.universal-btn.minnect-btn {
    width: calc(35% - 7px);
    margin-bottom: 4rem;
}


/* Universal button styles */
.universal-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    width: calc(35% - 7px);
    /* Adjust the width based on container width and gap */
    box-shadow: 0 0 1rem var(--main-color);
    position: relative;
}

/* Style the before pseudo-element for universal buttons */
.universal-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--dk-blue);
    z-index: -1;
    transition: .5s;
}

/* Hover effect for universal buttons */
.universal-btn:hover::before {
    width: 100%;
}

.universal-btn:hover {
    color: var(--main-color);
    scale: 1.02;
    box-shadow: none;
}

.border-div {
    border: 3px solid var(--dk-blue);
    padding: 0rem;
}

@media only screen and (max-width: 700px) {    

    .universal-btn {
        width: 100%;
        /* Make button full width */
        margin-top: 20px;
        /* Add margin at the top for spacing */
    }

    .wrapper img {
        display: none;
    }

    .wrapper1 img {
        float: none;
        margin: 0 auto;
        /* Center the image */
        width: 100%;
        max-width: 575px;
        display: block;
        border-radius: 10px;
        border: .2rem solid var(--main-color);
        /* Set max width */
    }
}


@media only screen and (max-width: 900px) {
    .wrapper img {
        display: none;
    }

    .wrapper1 img {
        float: none;
        margin: 0 auto;
        /* Center the image */
        width: 100%;
        max-width: 575px;
        display: block;
        border-radius: 10px;
        border: .2rem solid var(--main-color);
        /* Set max width */
    }

    .universal-btn {
        width: 100%;
        /* Make button full width */
        margin-top: 20px;
        /* Add margin at the top for spacing */
        margin-bottom: 3.5rem;
    }
}